.ImageBox-image {
        max-height: 100%;
}

._3hUbl08LBz2mbXjy0iYhOS {
    background-color: rgba(80,85,87,0);
    font-size: 6pt;
    visibility: hidden;
}
._1ti9kvv_PMZEF2phzAjsGW {
    align-items: normal;
}
._3b8u2OJXaSDdBWoRB7zUoK {
    background-color: rgba(80,85,87,0);
    font-size: 6pt;
}
._1dwExqTGJH2jnA-MYGkEL- {
    max-height: 100%;
}
